/********************/
/* CSS Personnalisé */
/********************/

/****************************/
/* INSTALLATION DES POLICES */
@font-face
{
    font-family: ErasLight; src: url('../fonts/ERASLGHT.TTF');
}
@font-face
{
    font-family: ErasMedium; src: url('../fonts/ERASMD.TTF');
}
@font-face
{
    font-family: ErasDemi; src: url('../fonts/ERASDEMI.TTF');
}
@font-face
{
    font-family: ErasBold; src: url('../fonts/ERASBD.TTF');
}
@font-face
{
    font-family: MankSans; src: url('../fonts/MankSans.ttf');
}

/****************************/
/*     GLOBAL LAYOUT        */
#content {
    padding: 0 20px;
}

.spec-status {
    font-family: MarkSans, Arial, sans-serif;
    color: #2FAB29;
    text-transform: uppercase;
}

.caduceus {
    background: url('../img/caduceus.png') no-repeat right 16px top 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/****************************/
/*     CLASSES USUELLES     */
.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.invalid {
    border-color: red;
    outline-color: red;
}

.center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline;
}

.hover-dropdown:hover > .dropdown-menu {
    display: block;
}

.table-curved {
    border-collapse: separate;
    border: solid #ddd 1px;
    border-radius: 6px;
    border-left: 0;
    border-top: 0;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0;
    border-top: solid #ddd 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
}

/****************************/
/*           LOGO           */
@media (max-width: 768px) {
    #logo {
        margin: auto;
        display: block;
    }
}

@media (min-width: 768px) {
    #logo {
        display: inline-block;
    }
}

#logo {
    height: 100px;
    width: 300px;
    background: url('../img/logo-header.png') no-repeat;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: ErasMedium, Arial, sans-serif;
    font-size: 0.87em;
    padding-top: 60px;
    padding-left: 10px;
    color: #555;
}


/****************************/
/*       USER INFO          */
#user-info {
    display: inline-block;
    margin-top: 30px;
}


#user-info li.btn-logout a {
    color: white;
    background-color: #B60027;
}

#user-info li a:hover {
    color: white;
    background-color: #6E0018;
}


/****************************/
/*           FOOTER         */
.footer {
    color: #696969;
    font-size: 0.9em;
    padding: 20px 0;
    text-align: center;
}

.footer a,
.footer a:hover {
    color: #696969;
}


/****************************/
/*           NAVBAR         */
#navbar {
    background-color: #B60027;
    text-align: center;
    border-color: #B60027;
}

#navbar .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

#navbar li a {
    color: white;
    font-family: ErasLight, Arial, sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    /*text-transform: uppercase;*/
    padding: 15px 30px;
    /*display: inline;*/
}

#navbar li.active a,
#navbar li a:hover,
#navbar li.active-parent a.parent-menu{
    background-color: #6E0018;
}

.navbar-toggle {
    color: white;
    font-size: 32px;
    margin: 6px;
    padding: 2px 5px;
    line-height: 32px;
    border: none;
}

.navbar-toggle:hover
{
    background-color: #6E0018 !important;
}

.navbar-collapse {
    border: none;
}

@media (max-width: 768px) {
    .navbar-collapse {
        margin-top: 50px;
    }

    .navbar-nav .subnav {
        background-color: #B60027;
        visibility: hidden;
    }

    .navbar-nav .open .subnav {
        background-color: #B60027;
        visibility: visible;
    }
}

.navbar-nav .subnav li a {
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar-nav .subnav li a {
        color: #333 !important;
    }
}

.navbar-nav .subnav li.active a,
.navbar-nav .subnav li a:hover
{
    color: white !important;
}

#navbar .user-profile {
    color: white;
    margin: 13px;
}

/****************************/
/*         PAGE HEADER      */
#page-header {
    margin: -17px 0 40px 0 !important;
    padding: 0 10px;
    font-family: ErasLight, Arial, sans-serif;
    color: white;
    min-height: 50px;
    background-color: #B60027;
}


/****************************/
/*       TEXT ANGULAR       */
.pathology-editor .ta-editor {
    min-height: 200px;
    height: 200px;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.pathology-editor .ta-scroll-window > .ta-bind {
    min-height: 199px;
}

.page-editor .ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.page-editor .ta-scroll-window > .ta-bind {
    min-height: 300px;
}

/****************************/
/*           HOME           */
/****************************/
/*         JUMBOTRON        */
.jumbotron {
    background: url('../img/jumbotron.jpg') no-repeat;
    background-size: 100%;
}

.jumbotron h1 {
    font-family: ErasMedium, Arial, sans-serif;
}

.jumbotron .btn-group .btn {
    font-family: ErasLight, Arial, sans-serif;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron .lead a {
    color: #333;
}

@media (min-width: 769px) and (max-width: 991px) {
    .jumbotron .btn {
        font-size: 1em;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 768px) {
    .jumbotron .btn {
        width: 100% !important;
        margin-left: 0 !important;
        display: block;
        border-radius: 0;
    }
}


.btn-xs-text {
    width: 17% !important;
}

.btn-xm-text {
    width: 28% !important;
}

.btn-xl-text {
    width: 38% !important;
}

#search-bar {
    font-size: 1.2em;
}

#search-buttons {
    margin-bottom: 2px;
}

@media (max-width: 991px) and (min-width: 769px) {
    #search-buttons {
        font-size: smaller;
    }
}

.ui-select-choices-row.active>a {
    background-color: white !important;
    color: black !important;
}

.ui-select-choices-row > a:hover {
    background-color: #428bca !important;
    color: white !important;
}

#home-info h2 {
    font-family: ErasMedium, Arial, sans-serif;
}

#home-info ul {
    list-style: none;
    padding-left: 10px;
}

#home-info li {
    margin-bottom: 3px;
}

#home-info .block {
    margin: 0 10px;
    padding: 30px;
    border: 1px solid #ccc;
}

/****************************/
/*         LOGIN            */
#login-form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px 30px;
    width: 70%;
    margin: auto;
}

#login-form input {
    margin-bottom: 10px;
}

#login-form .submit {
    padding-left: 30px;
    padding-right: 30px;
}

#register-link {
    margin-top: 20px;
    margin-left: 30px;
}


/****************************/
/*         REGISTER        */
#register-form {
    width: 90%;
    margin: auto;
}

#register-form form {
    padding: 40px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#register-form .text {
    text-align: justify;
    background-color: rgba(245,245,245,0.3);
    border: 1px solid rgba(230,103,135,0.2);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#register-form input {
    margin-bottom: 10px;
}

#register-form .submit {
    padding: 0 10%;
}


/****************************/
/*        PATHOLOGY         */
/****************************/
/*         LEVEL            */
.pathology-tree .level[depth="2"] .level-header {
    padding-left: 20px;
}

.pathology-tree .level[depth="3"] .level-header {
    padding-left: 40px;
}

.pathology-tree .level[depth="4"] .level-header {
    padding-left: 60px;
}

/****************************/
/*         EDIT            */
#pathology-form .form-group,
#text-form .form-group {
    margin: 0 10px 20px 10px !important;
}


.level-actions .btn {
    text-align: left;
}

.btn.remove-entry {
    background-color: white;
}

.pathology-tree .entries-edit {
    margin-left: 65px;
    width: 90%;
}

.select-reco .ui-select-choices {
    min-width: 65px;
}

.check-all {
    margin-bottom: 10px;
}

/****************************/
/*       DISPLAY            */
/****************************/
/*       PATHOLOGY          */
#pathology h2 {
    font-family: ErasMedium, Arial, sans-serif;
    font-size: 16pt;
    line-height: 1.2;
}

#pathology h3 {
    font-family: ErasMedium, Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    line-height: 1.2;
}

#pathology h4 {
    font-family: ErasMedium, Arial, sans-serif;
    font-size: 13pt;
    font-weight: normal;
    line-height: 1.2;
}

#pathology h5 {
    font-family: ErasMedium, Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.2;
}

#pathology .text {
    background-color: rgba(245,245,245,0.3);
    border: 1px solid rgba(230,103,135,0.2);
    border-radius: 4px;
    padding: 15px 10px 5px 10px;
    margin-botton: 2px;
}

#pathology .text p {
    color: #333 !important;
}

#intro {
    margin-bottom: 30px;
}

#conclu {
    margin-top: 30px;
}

#pathology .entries {
    margin-top: 5px;
}

#pathology .entries .more-info {
    font-weight: bold;
}

#pathology .entries .more-info a {
    color: #333;
}

#pathology .entries .more-info a:hover {
    color: #333;
    /*text-decoration: none;*/
}

#pathology .entries .reco {
    cursor: pointer;
    text-align: center;
    width: 5%;
}

#pathology .entries .product {
    width: 60%;
}

#pathology .entries .more-info {
    width: 30%
}

#pathology .entries .info-button {
    width: 5%
}

#pathology .info-button {
    font-weight: bold;
    color: #6E0018;
}

#pathology .info-button.active td  {
    background-color: #CCC;
}

#pathology .speciality,
#pathology .product {
    text-transform: lowercase;
}

#pathology .speciality:first-letter,
#pathology .product:first-letter {
    text-transform: uppercase;
}

#pathology-summary {
    padding-left: 0px;
}

#pathology-summary li {
    list-style: none;
}

#pathology-summary ul {
    padding-left: 10px;
}

/****************************/
/*       SIDEBAR            */
#sidebar h2,
#specialities h2 {
    font-family: ErasMedium, Arial, sans-serif;
    font-size: 18pt;
}

@media (max-width: 768px) {
    #updated-title {
        display: inline-block;
        margin-right: 10px;
    }
}

@media (min-width: 768px) {
    .summary-collapse {
        display: block;
    }
}


/****************************/
/*       PAGES              */
.page-text {
    padding: 0 8%;
}

.page-text > * {
    background: none !important;
}

.page-text li {
    margin-bottom: 7px;
}

#pages-list td.actions {
    text-align: center;
}

#pages-list td.text {
    padding: 15px 40px;
}

#pages-print {
    margin-bottom: 10px;
    text-align: center;
}

/****************************/
/*       NEWS               */
#page-header.news .title {
    display: inline-block;
}

#page-header.news .info {
    margin-top: 20px;
}

.news-list {
    border: 1px solid rgba(230,103,135,0.2);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 3%;
    margin-left: 3%;
    padding: 0 5% 2% 5%;
}

.news-list .header {
    margin-bottom: 10px;
}

.news-list .title {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
}

.news-list .title h2 {
    font-family: ErasLight, Arial, sans-serif;
    font-size: 1.7em;
}

.news-list .title .action-buttons {
    margin-left: 5px;
}

.news-list .info {
    width: 20%;
    font-size: 0.8em;
    margin-top: 20px;
}

@media (max-width: 500px) {
    .news-list .info {
        display: block;
        width: 100%;
        margin-top: -10px;
        margin-bottom: 10px;
    }
}


/****************************/
/*       ASSOCIATIONS       */
#asso-edit,
#asso-list {
    padding: 0;
}

#asso-edit h2,
#asso-edit h3,
#asso-list h2 {
    font-family: ErasMedium, Arial, sans-serif;
}

#asso-edit {
    margin-bottom: 40px;
}

#asso-edit form {
    padding: 0 10px;
}

#subst-list {
    list-style: none;
}

#asso-list {
    margin-top: 40px;
}

#asso-list td.name {
    text-transform: capitalize;
}

#asso-list td.actions {
    text-align: center;
}


/****************************/
/*       CONTACT            */
#contact-body {
    min-height: 200px;
}

#contact-user-sender > * {
    margin-bottom: 15px;
}

#contact-from-label {
    font-weight: bold;
    text-align: right;
    padding-right: 25px;
}

@media(max-width: 991px) {
    #contact-from-label {
        text-align: left;
        padding-left: 0px;
    }
}

#contact-form .text {
    text-align: justify;
    background-color: rgba(245,245,245,0.3);
    border: 1px solid rgba(230,103,135,0.2);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#contact-text {
    font-size: 0.9em;
}

#contact-text a {
    font-size: 1.2em;
}


/****************************/
/*       ADMIN USERS        */
#users-list .icon {
    text-align: center;
}

#users-list .icon .ok {
    color: #3CAB00;
}

#users-list .icon .nok {
    color: #6E0018;
}

#users-stats {
    list-style: none;
}

.right-inner-icon {
    position: relative;
}

.right-inner-icon input {
    padding-right: 30px;
    margin-bottom: 15px;
    border-radius: 50px;
}

.right-inner-icon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}