/********************/
/* CSS Personnalisé */
/********************/

/****************************/
/* INSTALLATION DES POLICES */
@font-face
{
    font-family: ErasLight; src: url('../fonts/ERASLGHT.TTF');
}
@font-face
{
    font-family: ErasMedium; src: url('../fonts/ERASMD.TTF');
}
@font-face
{
    font-family: ErasDemi; src: url('../fonts/ERASDEMI.TTF');
}
@font-face
{
    font-family: ErasBold; src: url('../fonts/ERASBD.TTF');
}
@font-face
{
    font-family: MankSans; src: url('../fonts/MankSans.ttf');
}

/****************************/
/*     CLASSES USUELLES     */
.center {
    text-align: center;
}

/****************************/
/*           LOGO           */
@media (max-width: 768px) {
    #logo {
        margin: auto;
    }
}

#logo {
    height: 100px;
    width: 300px;
    background: url('../img/logo-header.png') no-repeat;
    margin-bottom: 10px;
    cursor: pointer;
}


/****************************/
/*           FOOTER         */
.footer {
    color: #696969;
    font-size: 0.9em;
    padding: 20px 0;
    text-align: center;
}


/****************************/
/*           NAVBAR         */
#navbar {
    background-color: #B60027;
    text-align: center;
    border-color: #B60027;
}

#navbar .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

#navbar li a {
    color: white;
    font-family: ErasLight;
    font-size: 1.1em;
    /*text-transform: uppercase;*/
    padding: 15px 30px;
    /*display: inline;*/
}

#navbar li.active a,
#navbar li a:hover {
    background-color: #6E0018;
}

.navbar-toggle {
    color: white;
    font-size: 32px;
    margin: 6px;
    padding: 2px 5px;
    line-height: 32px;
    border: none;
}

.navbar-toggle:hover {
    background-color: #6E0018 !important;
}

.navbar-collapse {
    border: none;
}

/****************************/
/*         PAGE HEADER      */
#page-header {
    margin: -17px 0 40px 0 !important;
    padding: 0 10px;
    font-family: ErasLight;
    color: white;
    min-height: 50px;
    background-color: #B60027;
}

#content {
    margin: 0 20px !important;
}

/****************************/
/*           HOME           */
/****************************/
/*         JUMBOTRON        */
.jumbotron {
    background: url('../img/jumbotron.jpg') no-repeat;
    background-size: 100%;
}

.jumbotron h1 {
    font-family: ErasMedium;
}

.jumbotron .btn-group .btn {
    font-family: ErasLight;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 769px) and (max-width: 991px) {
    .jumbotron .btn {
        font-size: 1em;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 768px) {
    .jumbotron .btn {
        width: 100% !important;
        margin-left: 0 !important;
        display: block;
        border-radius: 0;
    }
}


.btn-xs-text {
    width: 17% !important;
}

.btn-xm-text {
    width: 28% !important;
}

.btn-xl-text {
    width: 38% !important;
}

#search-bar {
    font-size: 1.2em;
}

#search-buttons {
    margin-bottom: 2px;
}

.ui-select-choices-row.active>a {
    background-color: white !important;
    color: black !important;
}

.ui-select-choices-row > a:hover {
    background-color: #428bca !important;
    color: white !important;
}


/****************************/
/*        PATHOLOGY         */
/****************************/
/*         LEVEL            */
.pathology-tree li,
.pathology-tree li > * {
    list-style: none;
}

.pathology-tree,
.pathology-tree ul > * {
    padding-left: 0px;
}


/*         EDIT            */
#pathology-form .form-group {
    margin: 0 10px 20px 10px !important;
}


.level-actions .btn {
    text-align: left;
}