body {
    padding-top: 50px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.disclaimer {
    padding: 20px 15px;
    text-align: center;
}

.messages {
    padding: 20px 15px 0px 15px;
    text-align: center;
}
    .messages .alert {
        margin-bottom: 0px;
    }

