/* Reponsive CSS */
/* Nicolor : b60027 */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Lato', sans-serif;
}
html {
    background-color: #373737;
}
.top {
    background-color: #950020;
}
.top .navbar-brand {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-image: url('../img/logo-mini.png');
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 40px;
}
.top .container {
    padding: 0;
}
.banner {
    background-color: #373737;
}
.banner .container {
    background-color: #b60027;
    min-height: 120px;
    padding: 20px 30px 30px 40px;
    color: white;
}
.banner .container p {
    font-size: 22px;
    padding-left: 5px;
    font-weight: 300;
}
.middle {
    background-color: #CCC;
}
.middle .container {
    background-color: #FFF;
    min-height: 300px;
    padding-bottom: 20px;
}
.navbar-nav li a,
.navbar-nav li .btn-group,
.navbar-nav li .dropdown-menu {
    color: #e9e9e9;
    font-family: 'Lato', sans-serif;
}
.navbar-nav li a:hover,
.navbar-nav li .btn-group:hover,
.navbar-nav li .dropdown-menu li a:hover,
.navbar-nav li.dropdown.open a.dropdown-toggle {
    background-color: #6E0018;
    color: #e9e9e9;
}
.navbar-nav li .dropdown-menu
{
    background-color: #b60027;
}
.bottom {
    background-color: #373737;
}
.bottom .container {
    background-color: #950020;
    min-height: 100px;
    color: white;
}
/*.bottom .container h3 {*/
    /*color: #999;*/
/*}*/
/*.bottom .container p {*/
    /*color: #666;*/
/*}*/
.navbar-toggle {
    color: white;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}
.navbar-nav {
    margin: 0;
}

.content p {
    line-height: 30px;
    font-size: 16px;
}
.to-tutorial {
    text-align: center;
}

.menu-link {
    margin-left: 5px;
}

/*Other CSS*/
/*body {
    padding-top: 50px;
}

.disclaimer {
    padding: 20px 15px;
    text-align: center;
}*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

ul.pathology-tree li,
ul.pathology-tree > li > * {
    list-style: none;
}