<div class="disclaimer">
	<h1>Prescrisur</h1>

	<a href="/#/substances/02064">Subst</a>
	<a href="/#/specialities/32238">Spec</a>

	<div class="form-group">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ng-class="{active:searchType == 'substances'}" ng-click="searchType = 'substances'">Substances</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ng-class="{active:searchType == 'specialities'}" ng-click="searchType = 'specialities'">Médicaments (ANSM)</button>
			</div>
		</div>
		<input type="text" ng-model="q" ng-change="search()" class="form-control" />
	</div>

	<div ng-repeat="r in results">
		<div ng-if="searchType == 'specialities'"><a href="#/specialities/{{ r._id }}">
			{{ r.full_name }}
			<span ng-if="r.status" class="status">[{{ r.status }}]</span>
		</a></div>
		<div ng-if="searchType == 'substances'"><a href="#/substances/{{ r._id }}">{{ r.name }}</a></div>
	</div>
</div>