<script type="text/ng-template"  id="tree_item_renderer.html">
	<div class="level-header">
		<span class="rank">{{ data.rank }}{{ $index + 1 }}.</span>
		<span class="name">{{ data.name }}</span>
	</div>
	<ul>
		<li ng-repeat="data in data.levels" ng-include="'tree_item_renderer.html'"></li>
	</ul>
</script>

<div id="pathology">
	<div class="name">{{ pathology.name }}</div>
	<ul class="pathology-tree">
		<li ng-repeat="data in pathology.levels" ng-include="'tree_item_renderer.html'"></li>
	</ul>
</div>