<div class="row" id="page-header">
	<h1 ng-if="!pathology">Nouvelle Pathologie</h1>
	<h1 ng-if="pathology">{{ pathology.name }}</h1>
</div>

<div id="content" class="row">
	<form ng-submit="submit()" id="pathology-form" class="form-horizontal">
		<!-- Pathology Name -->
		<div class="form-group">
			<input class="form-control" type="text" ng-model="pathology.name" placeholder="Pathologie" required/>
		</div>
		<!-- Introduction text -->
		<div class="form-group">
			<label>Présentation</label>
			<text-angular ng-model="pathology.intro" class="pathology-editor"></text-angular>
		</div>
		<!-- Pathology Tree -->
		<div class="pathology-tree">
			<div ng-repeat="data in pathology.levels" ng-include="'patho-edit-tree.html'" class="level" depth="1"></div>
		</div>

		<!-- Conclusion text -->
		<div class="form-group">
			<label>Conclusion</label>
			<text-angular ng-model="pathology.conclu" class="pathology-editor"></text-angular>
		</div>
		<button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
	</form>
</div>

<!-- Template for levels -->
<script type="text/ng-template"  id="patho-edit-tree.html">
	<!-- Level Name -->
	<div class="form-group level-header">
		<label class="level-name col-xs-1 control-label">{{ data.rank }}{{ $index + 1 }}.</label>
		<div class="col-xs-9">
			<input class="form-control" type="text" ng-model="data.name" placeholder="Titre du Niveau" required/>
		</div>
		<div class="btn-group-vertical level-actions col-xs-2" role="group">
			<div class="btn btn-xs" ng-click="removeLevel(data, $index)" ng-show="canRemoveLevel(data)">
				<i class="fa fa-remove"></i>
				Niveau
			</div>
			<div class="btn btn-xs" ng-click="addRootLevel()" ng-show="canAddRootLevel(data, $index)">
				<i class="fa fa-plus"></i>
				Niveau
			</div>
			<div class="btn btn-xs" ng-click="addSubLevel(data, $index)" ng-show="canAddSubLevel(data)">
				<i class="fa fa-plus"></i>
				Sous-Niveau
			</div>
			<div class="btn btn-xs" ng-click="addEntry(data)" ng-show="canAddEntry(data)">
				<i class="fa fa-plus"></i>
				Entrée
			</div>
		</div>
	</div>
	<!-- Level Text -->
	<div class="form-group">
		<text-angular ng-model="data.text" class="pathology-editor"></text-angular>
	</div>
	<!-- Level subTree -->
	<div ng-if="data.levels && data.levels.length > 0">
		<div ng-repeat="data in data.levels" ng-include="'patho-edit-tree.html'" class="level" depth="{{ data.depth }}"></div>
	</div>
	<!-- Level entries -->
	<table class="table entries-edit" ng-if="data.entries && data.entries.length > 0">
		<tr>
			<th>Reco</th>
			<th colspan="2">Produit</th>
			<th>Info</th>
			<th></th>
		</tr>
		<tr ng-repeat-start="entry in data.entries">
			<td class="col-md-1">
				<ui-select ng-model="entry.reco._id" class="select-reco">
					<ui-select-match>
						<img ng-src="front/assets/img/gelule_{{ $select.selected }}_mini.png" alt="{{ $select.selected }}"/>
					</ui-select-match>
					<ui-select-choices repeat="reco in recommandations">
						<img ng-src="front/assets/img/gelule_{{ reco }}.png" alt="{{ reco }}"/>
					</ui-select-choices>
				</ui-select>
			</td>
			<td class="col-md-3">
				<ui-select ng-model="entry.type">
					<ui-select-match>
						<span ng-bind="$select.selected.name"></span>
					</ui-select-match>
					<ui-select-choices repeat="productType._id as productType in productTypes">
						{{ productType.name }}
					</ui-select-choices>
				</ui-select>
			</td>
			<td class="col-md-6">
				<ui-select ng-model="entry.product">
					<ui-select-match placeholder="Nom du Produit" ng-click="search($select, entry.type)">
						<span ng-bind="$select.selected.name"></span>
					</ui-select-match>
					<ui-select-choices ui-disable-choice="!r._id" refresh="search($select, entry.type)" refresh-delay="100" repeat="filterResults(r) as r in results | limitTo: 200">
						{{ r.name }}  <span class="spec-status" ng-if="r.status">{{ r.status }}</span>
					</ui-select-choices>
				</ui-select>
			</td>
			<td class="col-md-1">
				<div class="btn btn-default" ng-click="addInfo(entry)">Info</div>
			</td>
			<td class="col-md-1">
				<button class="btn remove-entry" ng-click="removeEntry(data, $index)"><i class="fa fa-remove"></i></button>
			</td>
		</tr>
		<tr ng-if="entry.info" ng-repeat-end>
			<td colspan="5">
				<text-angular ng-model="entry.info" class="pathology-editor"></text-angular>
			</td>
		</tr>
	</table>
</script>