<div class="row" id="page-header">
	<h1>Administration des Utilisateurs</h1>
</div>

<div id="content" class="row caduceus">
	<flash-message duration="4000" show-close="true"></flash-message>

	<div id="sidebar" class="col-md-4 col-md-push-8">
		<h2>Stats</h2>
		<ul id="users-stats">
			<li>Nombre d'inscrits : {{ users.length }}</li>
			<li>Nombre d'abonnés : {{ subscribers.length }}</li>
		</ul>
	</div>

	<div class="col-md-8 col-md-pull-4">
		<div id="users-search" class="right-inner-icon">
			<i class="fa fa-search"></i>
			<input type="search" class="form-control" ng-model="query" placeholder="Filtrer par nom, email, role"/>
		</div>

		<div class="panel panel-default">
			<table id="users-list" class="table table-condensed table-striped table-bordered">
				<tr>
					<th>Nom</th>
					<th>Email</th>
					<th>Admin ?</th>
					<th>Abonné ?</th>
				</tr>
				<tr class="user" ng-repeat="user in users | filter:query">
					<td>{{ user.name }}</td>
					<td>
						<a href="mailto:{{ user._id }}">{{ user._id }}</a>
					</td>
					<td class="icon">
						<div class="ok" ng-if="hasRole('admin', user.roles)">
							<i class="fa fa-check-circle"></i>
						</div>
						<div class="nok" ng-if="!hasRole('admin', user.roles)">
							<i class="fa fa-times-circle"></i>
						</div>
					</td>
					<td class="icon">
						<div class="btn btn-success btn-xs" ng-if="hasRole('subscriber', user.roles)" ng-click="subscribe(user, false)">
							<i class="fa fa-check"></i> Abonné
						</div>
						<div class="btn btn-default btn-xs" ng-if="!hasRole('subscriber', user.roles)" ng-click="subscribe(user, true)">
							<i class="fa fa-times"></i> Non Abonné
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>