<!DOCTYPE html>
<html lang="en" ng-app="prescrisurApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- CSS (load bootstrap) -->
	<link rel="stylesheet" href="front/assets/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="front/assets/bower_components/components-font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="front/assets/css/style.css">

	<base href="/">

	<title>Prescrisur</title>
</head>
<body ng-controller="MainController">

<!-- Site header and navigation -->
<header class="top" role="header">
	<div class="container">
		<a href="/#/" class="navbar-brand pull-left"></a>
		<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="glyphicon glyphicon-align-justify"></span>
		</button>
		<nav class="navbar-collapse collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right user-navbar" ng-cloak>
				<li>
					<a href="#">
						<i class="fa fa-book"></i>
						<span class="menu-link">Aide à la Prescription</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-search"></i>
						<span class="menu-link">En Bref</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-info"></i>
						<span class="menu-link">Sources d'information</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-envelope"></i>
						<span class="menu-link">Contact</span>
					</a>
				</li>
				<li ng-if="currentUser" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user"></i>
						<span class="menu-link">{{ currentUser.name }}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">
								<i class="fa fa-user"></i>
								<span class="menu-link">Profil</span>
							</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="#/logout">
								<span class="fa fa-sign-out"></span>
								<span class="menu-link">Déconnexion</span>
							</a>
						</li>
					</ul>
				</li>
				<li ng-if="!currentUser">
					<a href="#/login">
						<span class="fa fa-sign-in"></span>
						<span class="menu-link">Espace Membre</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div id="main">
	<div ui-view></div>
</div>

<!-- Site footer -->
<div class="bottom">
	<div class="container">
		<div class="col-md-4">
			<h3><span class="glyphicon glyphicon-heart"></span> Footer section 1</h3>
			<p>Content for the first footer section.</p>
		</div>
		<div class="col-md-4">
			<h3><span class="glyphicon glyphicon-star"></span> Footer section 2</h3>
			<p>Content for the second footer section.</p>
		</div>
		<div class="col-md-4">
			<h3><span class="glyphicon glyphicon-music"></span> Footer section 3</h3>
			<p>Content for the third footer section.</p>
		</div>
	</div>
</div>


<!-- Javascript  -->
<script src="front/assets/bower_components/jquery/dist/jquery.js"></script>
<script src="front/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="front/assets/bower_components/angular/angular.js"></script>
<script src="front/assets/bower_components/angular-route/angular-route.js"></script>
<script src="front/assets/bower_components/angular-resource/angular-resource.js"></script>

<script src="front/app/app.js"></script>
<script src="front/app/controllers/main.js"></script>
<script src="front/app/controllers/home.js"></script>
<script src="front/app/controllers/login.js"></script>
<script src="front/app/controllers/substance.js"></script>
<script src="front/app/services/models.js"></script>
<script src="front/app/services/login.js"></script>

</body>
</html>